%header
  .header-main
    .header-main__top.clearfix
      %h1
        =link_to root_path, class: 'title' do
          empic
      %form{ class: 'input-search' }
        %input{ placeholder: "タグから探す"}
        %i.fa.fa-search
    .header-main__setting.clearfix
      .header-main__setting__right
        -# .right__block--element.clearfix
        -#   %i.fa.fa-tags
        = form_for (@picture) do |f|
          %ul.block-post-pictur
            %li.block-post-pictur__select
              %label{for: 'picture_image'}
                = f.file_field :image
            %li.block-post-pictur__select
              =f.submit "投稿", class: 'submit'


-# %nav.indicate-tag
-#   .indicate-tag__content
