%html
  %body
    %header
      .header-main
        .header-main__top.clearfix
          %h1
            =link_to root_path, class: 'title' do
              empic
          %form{ class: 'input-search' }
            %input{ placeholder: "タグから探す"}
            %i.fa.fa-search
          .header-main__top__right
            %ul.right__block.clearfix
              %li.right__block--element.clearfix
                %i.fa.fa-picture-o 
              %li.right__block--element.clearfix
                %i.fa.fa-tags

    %nav.indicate-tag
      .indicate-tag__content
    
    %main.top.clearfix
      .top__content
        %section.top__content__serch-pic
          %nav.top__content__serch-pic__nav
            %ul.select-pic
              %li.select-pic__data
                %span.select-pic__data__text
                  新しい順
              %li.select-pic__data
                %span.select-pic__data__text
                  古い順
        %ul.top__serch-pic__tag.clearfix
        %section.top__content__pic
          .top__content__pic__box
        %ul.pager
          %li.pager__num
    %footer
      .footer-main
        ©️ Yoshida