%html
  %body
    .empic-container
      = render 'shared/header'
      %main.top.clearfix
        .top__content
          %section.top__content__serch-pic
            %nav.top__content__serch-pic__nav
              %ul.select-pic
                -# %li.select-pic__data
                -#   %span.select-pic__data__text
                -#     =link_to "新しい順", pictures_path, class: 'order-box'
                -# %li.select-pic__data
                -#   %span.select-pic__data__text
                -#     =link_to "古い順", pictures_path, class: 'order-box'

          %ul.top__serch-pic__tag.clearfix

          %section.pictures
            = render partial: 'picture', collection: @pictures

          %ul.pager
            %li.pager__num
      = render 'shared/footer'
