%html
  %body
    .empic-container
      = render 'shared/header'
      %main.top.clearfix
        .top__content
          %section.top__content__serch-pic
            %nav.top__content__serch-pic__nav
              %ul.select-pic
                %li.select-pic__data
                  %span.select-pic__data__text
                    新しい順
                %li.select-pic__data
                  %span.select-pic__data__text
                    古い順

          %ul.top__serch-pic__tag.clearfix

          -# %section.pictures
          -#   - @pictures.each do |picture|
          -#     .picture
          -#       = image_tag picture.image.thumb.url, class: 'picture__box' if picture.image.present?
          -#       .more
          -#         %ul.more__list
          -#           %li
          -#           =link_to "詳細", picture_path(picture), class: 'more__list__select', method: :get
          -#           %li
          -#           =link_to "編集", edit_picture_path(picture), class: 'more__list__select', method: :get
          -#           %li
          -#           =link_to "削除", picture_path(picture), class: 'more__list__select', method: :delete

            -# = render @pictures
            -# = render partial: 'picture', collection: @pictures
            -# = render partial: "picture", collection: @pictures

          %ul.pager
            %li.pager__num
    = render 'shared/footer'