%html
  %body
    .empic-container
      = render 'shared/header'
      %main.top.clearfix
        .top__content
          %section.top__content__serch-pic
            %nav.top__content__serch-pic__nav
              %ul.select-pic

          %ul.top__serch-pic__tag.clearfix

          %section.pictures
            = render partial: 'pictures/picture', collection: @pictures

          %ul.pager
            %li.pager__num
    = render 'shared/footer'
