.pic {
  height: 135vh;
  overflow: scroll;
  &__container {
    width: 100%;
    margin: 0 auto;
    max-width: 660px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    &__content {
      margin: 20px 0;
      padding: 30px;
      text-align: center; 
      .picture-block { 
        box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
      }
    }
    &__edit {
      text-align: center;
      margin: 20px 0;
      padding: 30px;
      .pic-comment {
        .textarea-default {
          width: 97%;
          max-width: 100%;
          min-height: 104px;
          padding: 10px;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
          line-height: 1.5;
        }
      }
      .pic-tag {
        margin: 30px 0;
        .input-default {
          width: 97%;
          height: 38px;
          padding: 10px 10px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
      }
      .btn-content {
        padding: 30px 0;
        .btn-default {
          width: 500px;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          transition: all ease-out .3s;
        }
        .btn-red {
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
        }
      }
    }

  }
  .btn {
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
    .btn-default {
      display: block;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      transition: all ease-out .3s;
    }
    .btn-gry {
      margin: 0 auto;
      width: 250px;
      background: #aaa;
      border: 1px solid #aaa;
      color: #fff;
      text-decoration: none;
    }
  }

}

