.tags__content {
  width: 100%;
  height: calc(100vh - 200px);
  margin: 10px;
  overflow: scroll;
}
.tag-name {
  margin: 5px;
  padding: 5px;
  background: #7FCCE3;
  color: 	#FFFFFF;
  border-radius: 2px;
  text-decoration: none;
}
